body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
/*header */
header{
    height: auto;
    padding: 2% 1%;
    text-align: center;
    display: flex;
    align-items: center;
    /*background: rgb(30,0,255);
    background: linear-gradient(0deg, rgba(30,0,255,1) 0%, rgba(255,0,0,1) 100%);
    */background-color: #9ACD32;
}
header h1{
    color: #0073cc;
    margin: auto;
}
header img{
    width: 18%;
    height: 8%;
    float: left;
}
header #img2{
    float: right;
}
/* joke */
#joke-container{
    width: 50%;
    height: 38%;
    border: 8px solid #9ACD32;
    border-top: none;
    margin: auto;
    margin-top: 40%;
    overflow: auto;
}
#joke-container h3{
    text-align: center;
    color: #0073cc;
    background-color: #9ACD32;
}
#joke-container div{
    height: 86%;
    border: 8px solid transparent;
    overflow: auto;
}
#joke-container div p{
    color: #0073cc;
    text-align: center ;
}